@page "/foods"



@using Kayura.Mutfak.UIX.Views.Component
@using Kayura.Mutfak.UIX.ViewModels
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor




@inject FoodsVM VM

<PageTitle>Foods</PageTitle>

<h3>FoodsPage</h3>
<p>Search-Filter Placeholder</p>

<ul>
    @foreach (var food in VM.Foods)
    {
        <li>@food.Name</li>
    }
    @if (!VM.Foods.Any())
    {
        <li>No food items available</li>
    }
</ul>

<SfAccordion>
    <AccordionItems>
        <AccordionItem Header="Margeret Peacock" Content="Margeret Peacock was born on Saturday , 01 December 1990. Now lives at Coventry House Miner Rd., London,UK. Margeret Peacock holds a position of Sales Coordinator in our WA department, (Seattle USA). Joined our company on Saturday , 01 May 2010"></AccordionItem>
        <AccordionItem Header="Laura Callahan" Content="Laura Callahan was born on Tuesday , 06 November 1990. Now lives at Edgeham Hollow Winchester Way, London,UK. Laura Callahan holds a position of Sales Coordinator in our WA department, (Seattle USA). Joined our company on Saturday , 01 May 2010"></AccordionItem>
        <AccordionItem Header="Albert Dodsworth" Content="Albert Dodsworth was born on Thursday , 19 October 1989. Now lives at 4726 - 11th Ave. N.E., Seattle,USA.Albert Dodsworth holds a position of Sales Representative in our WA department, (Seattle USA). Joined our company on Friday , 01 May 2009"></AccordionItem>
    </AccordionItems>
</SfAccordion>

<button>Add Food</button>

<table>
    <thead>
        <tr>
            <th>Food Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in VM.Foods)
        {
            <tr>
                <td>@food.Name</td>
            </tr>
        }
        @if (!VM.Foods.Any())
        {
            <tr>
                <td>No food items available</td>
            </tr>
        }
        <tr><FoodComponent /></tr>
        <tr><FoodComponent TypeOfComponent="@ComponentType.Form" /></tr>
        <tr><FoodComponent TypeOfComponent="@ComponentType.ListItem" /></tr>
    </tbody>
</table>

@code {

}
